body{
    background-image: url(https://blogdocolecionador.com.br/wp-content/uploads/2020/02/estante-para-livros.jpg);
}
table{
    background-color: #e2ae6b;
    margin: 0 auto;
    width: 600px;
    height: 700px;
    border-radius: 13px;
    text-align: center;
    font-family: Baskerville, Times, Sabon;
    color: #e2ae6b;
}
.botao{
    width: 120px;
    background-color: #e2ae6b;
    color: floralwhite;
    font-weight: bolder;
    font-size: 13pt;
    border-radius: 13px;
    border-color: #e2ae6b;
    line-height: 100%;
    
}
td{
    border-radius: 13px;
    background-color: floralwhite;  
}
.alternativa{
    text-align: left;
}
.acerto{
    background-color: rgba(79, 187, 79, 0.39);
    color: rgb(2, 59, 2);
}
.erro{
    background-color: rgba(255, 0, 0, 0.315);
    color: rgb(209, 6, 6);
}
.mensagem{
    background-color: white;
}
.body-content {
    min-height: 100%;
    margin-bottom: -60px; 
  }
  .body-content:after {
    content: "";
    display: block;
  }
footer{
    background-color: #e2ae6b;
    height: 200px;
    position: relative;
    bottom: 0;
    
    color: floralwhite;
    width: 100%;
    margin-top: 50px;
    font-style: bolder;
}
input{
    line-height: 200%;
}
.email{
    font-style: italic;
}
.div{
    float: left;
    margin-left: 50px;
}
a{
    color: floralwhite;
}
.div2{
    float: left;
    margin-left: 400px;
}