body{
    background-image: url(https://blogdocolecionador.com.br/wp-content/uploads/2020/02/estante-para-livros.jpg);
}
table{
    background-color: #e2ae6b;
    margin: 0 auto;
    width: 600px;
    height: 700px;
    border-radius: 13px;
    text-align: center;
    font-family: Baskerville, Times, Sabon;
    color: #e2ae6b;
}
.botao{
    width: 120px;
    background-color: #e2ae6b;
    color: floralwhite;
    font-weight: bolder;
    font-size: 13pt;
    border-radius: 13px;
    border-color: #e2ae6b;
    
}
td{
    border-radius: 13px;
    border-color: #e2ae6b;
    border-style: ridge; 
    border-width: 1px; 
    background-color: floralwhite;  
}
.alternativa{
    text-align: left;
}
p{
    text-align: center;
}
.acerto{
    background-color: rgba(79, 187, 79, 0.39);
    color: rgb(2, 59, 2);
}
.erro{
    background-color: rgba(255, 0, 0, 0.315);
    color: rgb(209, 6, 6);
}
.mensagem{
    background-color: white;
}